* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #F5F5F5;
    height: 100vh;
}

.header {
    /* display: flex; */
    height: 64px;
    width: 100%;
    background-color: #FF5722;
    align-items: center;
    /* position: fixed; */
}

.header-title {
    display: flex;
    height: 64px;
    padding: 12px;
    align-items: center;
    gap: 12px;
    color: #F5F5F5;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -1.5px;
}


main {
    display: flex;
    justify-content: center;
    align-items: center;

}

main h1 {
    font-size: 50px;
    font-weight: bolder;
    margin: 100px 0 40px;
    text-align: center;
}

.line {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 1px;
    background: #FF8A50;
    margin-bottom: 50px;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* margin-bottom: 5px; */
    
}

.input-container input, .input-container textarea {
    width: 600px;
    height: 50px;
    border-radius: 6px;
    box-shadow: -2px -2px 2px #FF8A50;
    padding: 10px;
    font-size: 16px;
}

.input-container textarea {
    height: 150px;
}

#destination-image {
    border: 1px solid black;
    text-align: center;
    margin: auto;
}

.input-container label {
    padding: 5px;

}

#buttons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}

#buttons button {
    width: 120px;
    height: 50px;
    border: 2px solid #03A9F4;
    border-radius: 4px;
    margin-bottom: 64px;
}

#save-button {
    color: white;
    background-color: #03A9F4;

}

#cancel-button {
    color: #03A9F4;
    background-color: white;
}

/* ERRORS */

.input-container.success input, .input-container.success textarea {
    border: 4px solid #09c372;
    box-shadow: none;
}

.input-container.error input, .input-container.error textarea {
    border: 4px solid #ff3860;
    box-shadow: none;
}

.input-container .error {
    margin: 4px;
    color: #ff3860;
    font-size: 16px;
    height: 30px;
}
